.header{
    border-bottom: 1px solid grey;
    height: 65px;
    background-color: #a3c6e5;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 1;
}
h1{
    width: 75%;
}
#git{
    display: flex;
    flex-direction: column;
}
#git-icon{
    text-align: center;
}
.github{
    margin: 0;
}
#git-icon {
    animation: rotate 3s linear infinite;
    color: black;
}
@-webkit-keyframes rotate {
    to {transform: rotate(360deg);}
}